/* Evan Holmberg */
body {
	background-color: #F5DEFB;
	}

a {
	text-decoration: none;
	color: #9732a8;
	}
#siteName a {
	color: #000000;
}
#adminMenu {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
}
#userMenu {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
}
#adminMenu a {
	color: #ffffff;	
}
#userMenu a {
	color: #ffffff;	
}
#loginMenu a{
	color: #ffffff;
}
#container {
	display: grid;
	grid-template-columns: 30% 40% 30%;
	grid-template-rows: 100%;
    }
    
.logo {
	width: 20%;
	height: auto;
	}
#logoLeft {
	grid-column-start: 1;
	grid-column-end: 2;
	width: 20%;
	min-width: 20;
	height: auto;
	}
#logoRight {
	grid-column-start: 3;
	grid-column-end: 4;
	justify-self: end;
	width: 20%;
	height: auto;
	}
#siteName {
	grid-column-start: 2;
	grid-column-end: 3;
	text-align: center;
	}

#loginMenu {
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
	}

#signup {
	background-color:#970094;
	font-size: 1.5em;
	grid-column-start: 1;
	grid-column-end: 2;
	text-align: center;
	}
	
#login {
	background-color: #970094;
	font-size: 1.5em;
	grid-column-start: 2;
	grid-column-end: 3;
	text-align: center;
	}

#home {
	background-color:#970094;
	font-size: 1.5em;
	grid-column-start: 1;
	grid-column-end: 2;
	text-align: center;
}
#uploadUser {
	background-color: #970094;
	font-size: 1.5em;
	grid-column-start: 2;
	grid-column-end: 3;
	text-align: center;
}
#logout {
	background-color: #970094;
	font-size: 1.5em;
	grid-column-start: 3;
	grid-column-end: 4;
	text-align: center;
}

#addDelete {
	background-color: #970094;
	font-size: 1.5em;
	grid-column-start: 1;
	grid-column-end: 2;
	text-align: center;
}

#uploadAdmin {
	background-color: #970094;
	font-size: 1.5em;
	grid-column-start: 2;
	grid-column-end: 3;
	text-align: center;
}

#adminLogout {
	background-color: #970094;
	font-size: 1.5em;
	grid-column-start: 3;
	grid-column-end: 4;
	text-align: center;
}

#info {
	position: relative;
	padding-top: 50px;
	text-align: center;
	}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2rem;
	text-align: center;
	}
	.warn { color: red;}
